<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h2>Image Search Engine: Demo</h2>
            <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="query_img"><br>
                    <input type="submit">
            </form>
            <h3>Query:</h3>
            {% if query_path %}
            <img src="{{ query_path }}" width="160px">
            {% endif %}
        </div>
        <div class="container">
            <h3>Results:</h3>
            {% for mark in marks %} 
            <figure style="float: left; margin-right: 5px; margin-bottom: 5px;">
                <img src="{{ mark[1] }}" height="155px">
                <!-- <figcaption>{{ mark[0] }}</figcaption> -->
            </figure>
            {% endfor %}
        </div>
    </body>
</html>